#actor {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    background: url(img/minion.png) center center / cover no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: calc(var(--size) / 2) var(--size);
    animation: bob 1s infinite;
    transition: .1s linear;
}

@keyframes bob {
    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }
}